## .NET / Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config

# Build results
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio
.vs/
*.rsuser
*.sln.docstates
launchSettings.json

# Rider
.idea/

# User-specific files
*.user
*.suo

# OS files
.DS_Store
Thumbs.db
